<%= form_for(@instance) do |f| %>
  <% if @instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instance.errors.count, "error") %> prohibited this instance from being saved:</h2>

      <ul>
      <% @instance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="row">
    <div class="three columns">
    <%= f.label :pass_id, class: 'inline' %>
  </div>
  <div class="nine columns">
    <%= f.collection_select :pass_id, Pass.all, :id, :to_s %>
  </div>
  </div>
  <div class="row">
    <div class="three columns">
    <%= f.label :relevant_date, class: 'inline' %>
      </div>
      <div class="nine columns">
        <div class="row" id="date-select">
    <%= f.datetime_select :relevant_date %>
  </div>
    </div>
  </div>
  <div class="row">
    <div class="three columns">
    <%= f.label :description, class: 'inline' %>
      </div>
      <div class="nine columns">
    <%= f.text_field :description %>
    </div>
  </div>
  <div class="actions text-right">
    <%= f.submit class: "success large button" %>
  </div>
<% end %>
