<%= form_for(@instance) do |f| %>
  <% if @instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instance.errors.count, "error") %> prohibited this instance from being saved:</h2>

      <ul>
      <% @instance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="row">
    <div class="three columns">
    <%= f.label :pass_id, class: 'inline' %>
  </div>
  <div class="nine columns">
    <%= f.collection_select :pass_id, Pass.all, :id, :to_s %>
  </div>
  </div>
  <div class="row">
    <div class="three columns">
    <%= f.label :relevant_date, class: 'inline' %>
      </div>
      <div class="nine columns">
        <div class="row" id="date-select">
    <%= f.datetime_select :relevant_date %>
  </div>
    </div>
  </div>
  <div class="row">
    <div class="three columns">
    <%= f.label :description, class: 'inline' %>
      </div>
      <div class="nine columns">
    <%= f.text_field :description %>
    </div>
	</div>

	<div class="row">
    <div class="three columns">
    <%= f.label :logo_text, class: 'inline' %>
      </div>
      <div class="nine columns">
    <%= f.text_field :logo_text %>
    </div>
	</div>

	  <div class="row">
    <div class="three columns">
    <%= f.label :suppress_strip_shine, class: 'inline' %>
      </div>
      <div class="nine columns">
    <%= f.check_box :suppress_strip_shine %>
    </div>
	</div>

	<% %w(icon icon_2x logo logo_2x background background_2x).each do |field| %>
		<div class="row">
			<div class="three columns">
				<%= f.label field, class: 'inline' %>
			</div>
			<div class="four columns">
				<%= f.file_field field %>
			</div>
			<div class="five columns">
				<% if f.object.send("#{field}?") %>
					<%= image_tag f.object.send(field) %>
					<label><%= f.check_box "remove_#{field}" %> Remove <%= field %></label>
				<% end %>
			</div>
		</div>
	<% end %>

	<% %w(background_color foreground_color label_color).each do |field| %>
		<div class="row">
			<div class="three columns">
				<%= f.label field, class: 'inline' %>
			</div>
			<div class="nine columns">
				<%= f.text_field field %>
			</div>
		</div>
	<% end %>

  <div class="actions text-right">
    <%= f.submit class: "success large button" %>
  </div>
<% end %>
