<h1>Listing instances</h1>

<table>
    <thead>
	<tr>
		<th>Pass</th>
    <th>Relevant date</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @instances.each do |instance| %>
	<tr>
		<td><%= instance.pass %></td>
    <td><%= instance.relevant_date %></td>
    <td><%= instance.description %></td>
    <td><%= link_to 'Show', instance, class: 'small button' %></td>
    <td><%= link_to 'Edit', edit_instance_path(instance), class: 'secondary small button' %></td>
    <td><%= link_to 'Destroy', instance, method: :delete, data: { confirm: 'Are you sure?' }, class: 'alert small button' %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Instance', new_instance_path, class: 'secondary medium button' %>
