<%= form_for(@pass) do |f| %>
  <% if @pass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pass.errors.count, "error") %> prohibited this pass from being saved:</h2>

      <ul>
      <% @pass.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="five columns">
			<%= f.label :p12_file, class: 'inline' %>
		</div>
		<div class="seven columns">
			<%= f.file_field :p12_file %>
		</div>
	</div>

	<div class="row">
    <div class="five columns">
			<%= f.label :p12_passcode, class: 'inline' %>
		</div>
		<div class="seven columns">
			<%= f.password_field :p12_passcode %>
		</div>
  </div>
	
	<div class="actions text-right">
    <%= f.submit class: 'success large button' %>
  </div>
<% end %>
