<div class="twelve columns">
	<% if notice %>
		<div class="alert-box"><%= notice %><a href="" class="close">&times;</a></div>
	<% end %>

	<p>
	  <b>Organization name:</b>
	  <%= @pass.organization_name %>
	</p>

	<p>
	  <b>Pass type identifier:</b>
	  <%= @pass.pass_type_identifier %>
	</p>

	<p>
	  <b>Team identifier:</b>
	  <%= @pass.team_identifier %>
	</p>


	<%= link_to 'Edit', edit_pass_path(@pass), class: 'small button' %>
	<%= link_to 'Back', passes_path, class: 'secondary small button' %>
</div>
