<%= form_for(@issuance) do |f| %>
  <% if @issuance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issuance.errors.count, "error") %> prohibited this issuance from being saved:</h2>

      <ul>
      <% @issuance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="five columns">
    <%= f.label :instance_id, class: 'inline' %>
    </div>
    <div class="seven columns">
    <%= f.collection_select :instance_id, Instance.all, :id, :to_s %>
    </div>
  </div>
  <div class="row">
    <div class="five columns">
    <%= f.label :barcode_alt_text, class: 'inline' %>
    </div>
    <div class="seven columns">
    <%= f.text_field :barcode_alt_text %>
  </div>
  </div>
  <div class="row">
    <div class="five columns">
    <%= f.label :barcode_format, class: 'inline' %>
        </div>
    <div class="seven columns">
    <%= f.select :barcode_format, Issuance::BarcodeFormats %>
  </div>
  </div>
  <div class="row">
    <div class="five columns">
    <%= f.label :barcode_message, class: 'inline' %>
        </div>
    <div class="seven columns">
    <%= f.text_field :barcode_message %>
  </div>
  </div>
  <div class="row">
    <div class="five columns">
    <%= f.label :barcode_message_encoding, class: 'inline' %>
        </div>
    <div class="seven columns">
    <%= f.select :barcode_message_encoding, Issuance::BarcodeMessageEncodings %>
  </div>
  </div>
  <div class="row">
    <div class="five columns">
    <%= f.label :email, class: 'inline' %>
        </div>
    <div class="seven columns">
    <%= f.text_field :email %>
  </div>
  </div>
  <div class="actions text-right">
    <%= f.submit class: 'success large button' %>
  </div>
<% end %>
