<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title><%= content_for?(:title) ? yield(:title) : "PassKit" %></title>
  
	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body class="off-canvas slide-nav">
	<div class="nav-container">
		<div class="row">
			<div class="six columns mobile-two" id="home">
				<%= link_to 'PassKit', root_path %>
			</div>
			<div class="mobile-two columns text-right show-for-small">
				<a class='menu-button button' id="menuButton" href="#menu">Menu</a>
			</div>
			<div class="six columns mobile-four hide-for-small" role="navigation" id="topMenu">
				<ul class="nav-bar" id="nav">
					<li><%= link_to "Tickets", :issuances %></li>
				    <li><%= link_to "Events",  :instances %></li>
				    <li><%= link_to "Passes",  :passes %></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<%= yield %>
	</div>

  	<!-- Included JS Files  -->
  	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<%= javascript_include_tag "application" %>
</body>
</html>
